/* Pour font-size:10px (16px par défaut)
10px / 16px = 0.625 = 62.5% 
(Pourcentage de la taille de police du navigateur de l'utilisateur)
Puis utilisation de rem (1 rem = 10px) à la place de px(sauf petite valeure comme letter-spacing) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  max-width: 144rem;
  min-width: 102.4rem;
}

/* //////<Welcome/> ///// */

.test1 {
  display: flex;
  flex-direction: column;
}

.test7 {
  font-family: Roboto;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 24px;
}
.test8 {
  margin-bottom: 1.5rem;
}
.test9 {
  margin-right: 1.2rem;
}

.test2 {
  font-family: Roboto;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 4rem;
}

.test3 {
  font-family: Roboto;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 24px;
}

.test4 {
  position: relative;
  width: 100px;
  height: 50px;
  background-color: grey;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
}
.test5 {
  position: absolute;
  left: 2px;
  width: 90px;
  height: 40px;
  background-color: pink;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
}
.test6 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 50px;
  background-color: red;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  margin-top: 10px;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  font-weight: 600;
}
/* @keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeInAnimation ease-in 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
} */
.scale {
  /* max-width: 1440px;
  min-width: 1024px;
  transform: scale(1);
  transform-origin: top; */
  transform: scale(1); /* Réduire la taille à 80% */
  transform-origin: top left;
}
/* ////////////<NavBar/>//////////// */
.nav-bar_hzt {
  width: 100%;
  height: 9rem;
  background-color: black;
  display: flex;
  align-items: center;
  padding-left: 1.94%;
  padding-right: 6.32%;
  gap: 10.35%;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}
.logo {
  display: flex;
}
.nav-links {
  display: flex;
  width: 69.03%;
  height: 2.4rem;
  color: white;
  justify-content: space-between;
  font-family: Roboto;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  flex-grow: 1;
}
.nav-links p {
  cursor: pointer;
}
.main-container {
  display: flex;
  /* height: 93.4rem;
  height: 91.11vh; */
  width: 100%;
  min-height: calc(102.4rem - 9rem);
}
.nav-bar_vrt {
  width: 8.125%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 25.6rem;
  padding-bottom: 5.9rem;
}

.nav-icons {
  display: flex;
  flex-direction: column;
  width: 6.4rem;
  height: 31.6rem;
  justify-content: space-between;
  /* margin-bottom: 23.3rem; */
}
.nav-icons img {
  cursor: pointer;
}
.copyright {
  color: white;
  rotate: -90deg;

  transform: translateX(5.6375rem);
  white-space: nowrap;
}
.main {
  padding-left: 6.818%;
  padding-top: 6.8rem;
  padding-right: 6.818%;
  display: flex;
  flex-direction: column;

  height: auto;
  padding-left: 6.818%;
  padding-top: 6.8rem;
  padding-right: 6.818%;
  /* padding-bottom: 4rem; */
  /* width: 100%; */
  /* flex-grow: 1; */
  width: calc(100% - 8.125%);
}

/* ////////////<BOXES/>//////////// */
.bigbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 112.6rem;
  height: 61.1rem;
}
.box1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 74.13%;
  height: 611px;
}

/* .box2 {
  display: flex;
  justify-content: space-between;
  width: 22.9%;
  max-width: 25.8rem;
  height: 100%;
} */

.box2--small {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 25.8rem;
  height: 12.4rem;
  background-color: purple;
}

.box1_1 {
  /* padding: 2.4rem 2.6rem 2.3rem 3.2rem; */
}
.box1_2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/* .box1_2--small-1 {
  width: 258px;
  height: 263px;
  background-color: green;
} */

/* ////////////<Dashboard/>//////////// */
.welcome {
  display: flex;
  flex-direction: column;
  height: 9rem;
  justify-content: space-between;
  margin-bottom: 7.7rem;
  user-select: none;
}
.welcome_name {
  font-family: Roboto;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 24px;
}
.welcome_name--name {
  color: red;
}
.welcome_mess {
  font-family: Roboto;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 24px;
}

/* ////////////<Activity/>//////////// */
.activity {
  /* display: flex; */
  height: 320px;
  /* max-width: 83.5rem; */
  border-radius: 0.7rem;
  background-color: #fbfbfb;
  padding: 2.4rem 2.6rem 2.3rem 3.2rem;
}
.barChart {
  background-color: #fbfbfb;
  max-width: 74.13%;
  max-width: 83.5rem;
  width: 100%;
  height: 100%;
}
.BARRRR {
  height: 320px;
  width: 100%;
  border-radius: 0.7rem;
  background-color: #fbfbfb;
  padding: 2.4rem 2.6rem 2.3rem 3.2rem;
}
.tooltip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 39px;
  height: 63px;
  padding: 1rem;
  background-color: #e60000;
  color: #fff;
  font-size: 7px;
  list-style-type: none;
}

.legend {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64.5px;
}

.legend h3 {
  color: #20253a;
  font-size: 15px;
  font-weight: 500;
}
.legend .legend-list {
  display: flex;
  justify-content: flex-end;
  column-gap: 32px;
}
.legend .legend-item {
  display: flex;
  align-items: center;
  color: #74798c;
  font-size: 14px;
}
.legend-item::before {
  display: inline-block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  content: "";
}
.legend-item:first-child::before {
  margin-right: 10px;
  background-color: #282d30;
}
.legend-item:last-child::before {
  margin-right: 12px;
  background-color: #e60000;
}

/* ////////////<MainDataList/>//////////// */

.main_data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 22.9%;
  max-width: 25.8rem;
  height: 100%;
  flex-grow: 1;
}
/* ////////////<MainItem/>//////////// */

.main_data-item {
  /* width: 25.8rem; */
  max-width: 25.8rem;
  width: 100%;
  height: 12.4rem;
  border-radius: 0.7rem;
  background-color: rgba(251, 251, 251, 1);
  padding: 3.2rem 5.1rem 3.2rem 3.2rem;
  display: flex;
  align-items: center;
}

.main_data-item div {
  margin-left: 2.4rem;
}

/* ////////////<AverageSession/>//////////// */

.average {
  width: 258px;
  height: 263px;
  background-color: rgba(255, 0, 0, 1);
  border-radius: 0.7rem;
  overflow: hidden;
  /* padding-left: -1rem;
  padding-right: -1rem; */
}
.average .content {
  font-size: 15px;
  fill: #fff;
  opacity: 0.5;
}

/* .average .xAxis .recharts-text {
  font-size: 12px;
  fill: #fff;
  opacity: 0.5;
} ?????????????????????????? */

/* .average .tooltip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 39px;
  height: 25px;
  background-color: #fff;
  font-size: 8px;
} */
.custom-tooltip {
  background-color: white;
  width: 3.9rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
}
.custom-tooltip p {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}
.active-tooltip {
}

/* ////////////<Performance/>//////////// */
.performance {
  width: 258px;
  height: 263px;
  background-color: rgba(40, 45, 48, 1);
  border-radius: 0.7rem;
  overflow: hidden;
}
/* ////////////<Score/>//////////// */

.score {
  width: 258px;
  height: 263px;
  border-radius: 0.7rem;
  background-color: rgba(251, 251, 251, 1);
  overflow: hidden;
  padding: 2.4rem 3rem;
  background-color: #fbfbfb;
}

.score .title {
  font-size: 15px;
  fill: #20253a;
}
.score .content {
  line-height: 26px;
  font-size: 16px;
  fill: #74798c;
}
.score .content .percent {
  font-weight: 700;
  font-size: 26px;
  fill: #282d30;
}
/* //////// RESPONSIVE //////// */
@media screen and (max-width: 1359px) {
  .main-container {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 9rem);
  }
  .logo {
    transform: scale(0.85);
  }
  .nav-bar_hzt {
    height: 8.3rem;
  }
  .nav-links {
    width: 90.4rem;
    font-size: 1.7rem;
  }

  .nav-bar_vrt {
    padding-top: 15.6rem;
    padding-bottom: 5.9rem;
  }

  .nav-icons {
    width: 5rem;
    height: 34.6rem;
  }
  .copyright {
    color: white;
    rotate: -90deg;
    transform: translateX(5.6375rem);
    white-space: nowrap;
    user-select: none;
  }
  .main {
    padding-left: 4.818%;
    padding-top: 4.4rem;
    padding-right: 4.818%;
  }
  .welcome {
    height: 7.3rem;
    margin-bottom: 4.5rem;
  }
  .welcome_name {
    font-size: 4.3rem;
  }
  .welcome_mess {
    font-family: Roboto;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 24px;
  }
  .bigbox {
    flex-direction: column;
    gap: 2.5rem;
    height: auto;
  }

  .box1 {
    width: 100%;
    height: 611px;
    justify-content: space-between;
    gap: 2.5rem;
  }

  .activity {
    max-width: unset;
  }

  .box2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 25.8rem;
    height: 61.1rem;
  }

  .box2 {
    flex-direction: row;
    width: auto;
    height: auto;
  }

  .box1_2 {
    justify-content: space-around;
  }

  .main_data {
    flex-direction: row;
    gap: 10px;
    max-width: unset;
    width: 100%;
  }

  .main_data-item {
    height: 9rem;
    border-radius: 0.7rem;
    background-color: rgba(251, 251, 251, 1);
    padding: 2rem;
    flex-grow: 1;
  }
}
/* ////////////<Activity/>//////////// */
/* .tooltip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 39px;
  height: 63px;
  padding: 1rem;
  background-color: #e60000;
  color: #fff;
  font-size: 7px;
  list-style-type: none;
}

.legend {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64.5px;
}
.legend h3 {
  color: #20253a;
  font-size: 15px;
  font-weight: 500;
}
.legend .legend-list {
  display: flex;
  justify-content: flex-end;
  column-gap: 32px;
}
.legend .legend-item {
  display: flex;
  align-items: center;
  color: #74798c;
  font-size: 14px;
}
.legend-item::before {
  display: inline-block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  content: "";
}
.legend-item:first-child::before {
  margin-right: 10px;
  background-color: #282d30;
}
.legend-item:last-child::before {
  margin-right: 12px;
  background-color: #e60000;
}

.activity {
  display: flex;
  height: 320px;
  max-width: 83.5rem;
  border-radius: 0.7rem;
  background-color: #fbfbfb;
  padding: 2.4rem 2.6rem 2.3rem 3.2rem;
}

.barChart {
  background-color: #fbfbfb;
  max-width: 74.13%;
  max-width: 83.5rem;
  width: 100%;
  height: 100%;
} */
