/* Pour font-size:10px (16px par défaut)
10px / 16px = 0.625 = 62.5% 
(Pourcentage de la taille de police du navigateur de l'utilisateur)
Puis utilisation de rem (1 rem = 10px) à la place de px(sauf petite valeure comme letter-spacing) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  max-width: 144rem;
  min-width: 102.4rem;
}

/* //////<SettingPage/> ///// */

.setting-page {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 24px;
}

.selector {
  margin-bottom: 1.5rem;
}

.selector_label {
  margin-right: 1.2rem;
}

.setting-page_name {
  font-family: Roboto;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 4rem;
}

.connection-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 50px;
  background-color: red;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  margin-top: 10px;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

/* ////////////<NavBar/>//////////// */
.nav-bar_hzt {
  width: 100%;
  height: 9rem;
  background-color: black;
  display: flex;
  align-items: center;
  padding-left: 1.94%;
  padding-right: 6.32%;
  gap: 10.35%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.logo {
  display: flex;
}
.nav-links {
  display: flex;
  width: 69.03%;
  height: 2.4rem;
  color: white;
  justify-content: space-between;
  font-family: Roboto;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  flex-grow: 1;
}
.nav-links p {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.main-container {
  display: flex;
  width: 100%;
  min-height: calc(102.4rem - 9rem);
}
.nav-bar_vrt {
  width: 8.125%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 25.6rem;
  padding-bottom: 5.9rem;
}

.nav-icons {
  display: flex;
  flex-direction: column;
  width: 6.4rem;
  height: 31.6rem;
  justify-content: space-between;
}
.nav-icons img {
  cursor: pointer;
}
.copyright {
  color: white;
  rotate: -90deg;
  transform: translateX(5.6375rem);
  white-space: nowrap;
}
.main {
  display: flex;
  flex-direction: column;
  height: auto;
  padding-left: 6.818%;
  padding-top: 6.8rem;
  padding-right: 6.818%;
  width: calc(100% - 8.125%);
}

/* ////////////<Dashboard/>//////////// */
.welcome {
  display: flex;
  flex-direction: column;
  height: 9rem;
  justify-content: space-between;
  margin-bottom: 7.7rem;
  user-select: none;
}
.welcome_name {
  font-family: Roboto;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 24px;
}
.welcome_name--name {
  color: red;
}
.welcome_mess {
  font-family: Roboto;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 24px;
}
.dashboard-charts {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 112.6rem;
  height: 61.1rem;
}
.dashboard-charts_bigchart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 74.13%;
  height: 611px;
}

.dashboard-charts_smallcharts {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/* ////////////<Activity/>//////////// */

.barchart {
  height: 320px;
  width: 100%;
  border-radius: 0.7rem;
  background-color: #fbfbfb;
  padding: 2.4rem 2.6rem 2.3rem 3.2rem;
}
.tooltip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 3.9rem;
  height: 6.3rem;
  padding: 1rem;
  background-color: #e60000;
  color: #fff;
  font-size: 0.7rem;
  list-style: none;
}

.legend {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64.5px;
}

.legend h3 {
  color: #20253a;
  font-size: 15px;
  font-weight: 500;
}

.legend .legend-list {
  display: flex;
  justify-content: flex-end;
  column-gap: 3.2rem;
}

.legend .legend-item {
  display: flex;
  align-items: center;
  color: #74798c;
  font-size: 14px;
}

.legend-item::before {
  display: inline-block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  content: "";
}

.legend-item:first-child::before {
  margin-right: 10px;
  background-color: #282d30;
}

.legend-item:last-child::before {
  margin-right: 12px;
  background-color: #e60000;
}

/* ////////////<MainData/>//////////// */

.main_data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 22.9%;
  max-width: 25.8rem;
  height: 100%;
  flex-grow: 1;
}

.main_data-item {
  font-family: "Roboto";
  max-width: 25.8rem;
  width: 100%;
  height: 12.4rem;
  border-radius: 0.7rem;
  background-color: rgba(251, 251, 251, 1);
  padding: 3.2rem 5.1rem 3.2rem 3.2rem;
  display: flex;
  align-items: center;
  line-height: 24px;
  user-select: none;
  letter-spacing: 0px;
}

.main_data-item div {
  margin-left: 2.4rem;
  text-align: left;
}
.main_data-item--num {
  font-size: 20px;
  font-weight: 700;
}
.main_data-item--name {
  font-size: 14px;
  font-weight: 500;
  color: rgba(116, 121, 140, 1);
}
/* ////////////<AverageSession/>//////////// */

.average {
  width: 258px;
  height: 263px;
  background-color: rgba(255, 0, 0, 1);
  border-radius: 0.7rem;
  overflow: hidden;
}
.average .content {
  font-size: 15px;
  fill: #fff;
  opacity: 0.5;
}

.custom-tooltip {
  background-color: white;
  width: 3.9rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
}
.custom-tooltip p {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

/* ////////////<Performance/>//////////// */
.performance {
  width: 258px;
  height: 263px;
  background-color: rgba(40, 45, 48, 1);
  border-radius: 0.7rem;
  overflow: hidden;
}
/* ////////////<Score/>//////////// */

.score {
  width: 258px;
  height: 263px;
  border-radius: 0.7rem;
  background-color: rgba(251, 251, 251, 1);
}

.score .title {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
}
.score .content {
  line-height: 26px;
  font-size: 16px;
  fill: #74798c;
  font-weight: 500;
  line-height: 26px;
}
.score .content .percent {
  font-weight: 700;
  font-size: 26px;
  fill: #282d30;
}
/* //////// RESPONSIVE //////// */
@media screen and (max-width: 1359px) {
  .main-container {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 9rem);
  }
  .logo {
    transform: scale(0.85);
  }
  .nav-bar_hzt {
    height: 8.3rem;
  }
  .nav-links {
    width: 90.4rem;
    font-size: 1.7rem;
  }

  .nav-bar_vrt {
    padding-top: 15.6rem;
    padding-bottom: 5.9rem;
  }

  .nav-icons {
    width: 5rem;
    height: 34.6rem;
  }
  .copyright {
    color: white;
    rotate: -90deg;
    transform: translateX(5.6375rem);
    white-space: nowrap;
    user-select: none;
  }
  .main {
    padding-left: 4.818%;
    padding-top: 4.4rem;
    padding-right: 4.818%;
  }
  .welcome {
    height: 7.3rem;
    margin-bottom: 4.5rem;
  }
  .welcome_name {
    font-size: 4.3rem;
  }
  .welcome_mess {
    font-family: Roboto;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 24px;
  }
  .dashboard-charts {
    flex-direction: column;
    gap: 2.5rem;
    height: auto;
    margin-bottom: 5rem;
  }

  .dashboard-charts_bigchart {
    width: 100%;
    height: 611px;
    justify-content: space-between;
    gap: 2.5rem;
  }

  .barchart {
    max-width: unset;
  }
  .dashboard-charts_smallcharts {
    justify-content: space-around;
  }

  .main_data {
    flex-direction: row;
    gap: 10px;
    max-width: unset;
    width: 100%;
  }

  .main_data-item {
    height: 9rem;
    border-radius: 0.7rem;
    background-color: rgba(251, 251, 251, 1);
    padding: 2rem;
    flex-grow: 1;
  }
}
